:root {
    --primary-green: #1A4D2E;
    --secondary-green: #4F6F52;
    --primary-cream: #E8DFCA;
    --secondary-cream: #F5EFE6;
    --light-pink: #F5DAD2;
    --light-white: #EEEEEE;
}

.content-side {
    flex-direction: column;
    justify-content: flex-start !important;
    padding: 20px;
    gap: 10px;
    position: relative;
}

.heading {
    width: 100%;
}

.search-bar {
    padding: 20px;
    height: 70px;
    gap: 30px;
    background-color: var(--primary-cream);
}

.search-product-container {
    width: 50%;
    /* flex: 1; */
    position: relative;
}

.search-result {
    position: absolute;
    width: 100%;
    display: none;
    list-style: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
}

.search-product-container:hover {
    .search-result {
        display: flex;
    }
}

.search-result li {
    border-bottom: 1px solid black;
    background-color: var(--light-white);
    height: 50px;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 0 10px;
    align-items: center;
}

.search-result li img {
    object-fit: fill;
    justify-self: flex-start;
    /* width: 30px; */
    height: 35px;
}

.search-product {
    justify-content: start;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

#search-product {
    background-color: var(--light-white);
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding: 5px;
}

#search-product:focus {
    border-bottom: 1px solid black;
}

.product-name {
    flex: 1;
}

.product-price {
    color: rgb(126, 126, 126);
}

#search-category {
    width: 200px;
    background-color: var(--secondary-cream);
    height: 30px;
    border-radius: 3px;
    border: none;
}

.search-category-container {
    flex: 1;
    display: flex;
    justify-content: end;
}

.product-container {
    height: auto;
    width: 100%;
    position: static;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto, 1fr);
    gap: 10px;
}

.products {
    padding: 20px;
    background-color: var(--secondary-cream);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.product {
    border-radius: 5px;
    gap: 10px;
    height: auto;
    width: auto;
    background-color: white;
    padding: 20px;
}

.product-buttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: var(--secondary-cream);
    font-size: medium;
    background-color: var(--secondary-green);
    height: 30px;
    border-radius: 4px;
    width: 100px;
}

.product-buttons {
    margin-top: auto;
    gap: 4px;
    justify-content: space-around;
}

.pagination-button {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-green);
    color: var(--primary-cream);
    font-weight: bolder;
}

.pagination {
    width: 100% !important;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    height: 50px;
    margin-top: auto;
}

.search-result li> :nth-child(2) {
    font-size: 14px;
}

@media (max-width: 500px) {

    /* Styles for mobile devices */
    .sidebar {
        display: none;
    }


    .sidebar-show {
        display: flex !important;
        position: absolute;
        z-index: 1;
    }

    .show-sidebar {
        display: block;
    }

    .header {
        padding: 0 10px;
    }

    .content-side {
        padding: 0 !important;
    }

    .search-bar {
        /* display: flex !important; */
        height: auto;
        gap: 10px;
        padding: 10px;
    }

    #search-product {
        width: 50% !important;
    }

    #search-category {
        width: 100% !important;
    }

    .search-result li> :nth-child(2) {
        font-size: small;
    }
}

@media (max-width : 720px) {
    .search-bar {
        display: flex;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .search-result {
        width: 200%;
    }

    .search-result li> :nth-child(2) {
        font-size: small;
    }

    #search-product {
        width: 100% !important;
    }

    #search-category {
        width: 100% !important;
    }
}