<!DOCTYPE html>
<html lang="en">

<head class="df jcc-and-aic">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%-title%></title>
  <link rel="stylesheet" href="/admin/css/header.css">
  <link rel="stylesheet" href="/admin/css/<%- title %>.css">
  <link rel="stylesheet" href="/admin/css/common.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/admin/js/header.js"></script>
</head>

<body>
  <header class="header df aic">
    <div>
      <h1>Graza</h1>
    </div>
    <div class="df gap">
      <button class="logout" href="">Logout</button>
      <button class="show-sidebar">c</button>
    </div>
  </header>
  <div class="container df">
    <div class="sidebar">
      <div class="sidebar-content">
        <img src="/admin/img/icons/productListIcon.png" alt="">
        <a class="f-22" href="/admin/showProducts">View Products</a>
      </div>
      <div class="sidebar-content">
        <img src="/admin/img/icons/addProductIcon.png" alt="">
        <a class="f-22" href="/admin/addProduct">Add Products</a>
      </div>
      <div class="sidebar-content">
        <img src="/admin/img/icons/categoriesIcon.png" alt="">
        <a class="f-22" href="/admin/showCategories">Categories</a>
      </div>
      <div class="sidebar-content">
        <img src="/admin/img/icons/deletedImages.png" alt="">
        <a class="f-22" href="/admin/showDisabled">Show disabled</a>
      </div>
      
    </div>
    <div class="content-side df jcc-and-aic">